extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'character';
    - var currentParent = 'graph';
    - var currentParentName = 'graphic design';
    - var projTitle = 'character';