extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'hand';
    - var currentParent = 'digi';
    - var currentParentName = 'digital art';
    - var projTitle = 'hand';