extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'visage';
    - var currentParent = 'projection';
    - var currentParentName = 'projection';  
    - var projTitle = 'visage augmented'

block beforeGallery
  <iframe src="https://player.vimeo.com/video/159995721?loop=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  p
  p
    em adam m pere, keebaik sim, enol vallina
  p Vestige Augmented is an interactive installation - a projected extension of the interior - a recollection of its inhabitants.

  p Like humans, every building has a memory of its life. It remembers every footstep  that was walked on its floors; every raindrop that has fallen on its roof; every sound that has resonated through its walls.
  p Vestige Augmented exposes the building’s memory by projecting animated snapshots of the people who have inhabited its space.
  p Like the human memory, these snapshots are not complete images. They fade and distort with time. Shrinking and warping until the image is no longer recognizable. 
  p New, clear snapshots are always added. Obscuring our view into the far past, enriching our view of the recent.