extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'skin';
    - var currentParent = 'projection';
    - var currentParentName = 'projection'; 
    - var projTitle = 'gasp';
block beforeGallery
  <iframe src="https://player.vimeo.com/video/159996555?loop=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>