extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'stand-still';
    - var currentParent = 'projection';
    - var currentParentName = 'projection'; 
    - var projTitle = 'stand still' 

block beforeGallery
  p
    em adam m pere & natthida wiwatwicha
  p 
    | Harvard GSD | Interdisciplinary Art Practices | fall 2016
    br
    | Instructor: Silvia Benedito
    br
    br
  p 
    | Stand still.
    br
    | Sit still.
    br
    | Be still.
  p From a young age, we’re taught that to be proper one must be motionless. But the body is never completely still. The body is in constant motion. 
  p 
    | Blood circulates through our veins. 
    br
    | Air flows through our lungs.
    br
    | Saliva runs down our throat.
  p
    | Eyes blink.
    | Muscles spasm.
    | Fingers twitch.
    | Balance is lost.
  p
    em Stand Still 
    | s a study on the subtle motions the body makes when attempting to remain completely motionless. We asked five participants to stand still, alone in a pitch-black room. The participant is illuminated by multiple infrared light sources, which are imperceivably to the human eye, and the shadow is recorded using infrared cameras.
  p In a dark room stands two individuals dressed in all black. The individuals stand four feet away from each other and one and a half feet away from a flat white surface facing their backs. Five feet in front and directly between the individuals stands a projector enclosed in a black box. The projector is made to resemble cameras of the late 1800’s. On either side of the projector stands the audience. 
  p One of the individuals asks the audience to ‘stand still’. Both individuals close their eyes. The audience and the individuals stand in dark silence for one minute until the collected shadow footage is projected on the white surface. The projection ends and the individuals remain still, with their eyes closed, for one minute. 
  p The performance ends.
  p  
    br
    a(href="http://adampere.com/assets/files/stand-still-pere_wiwatwicha.pdf") documentation pdf