// This is where you would put any styles for lists

li {
  margin-bottom: .65em;
}

ul {
  margin-top: 0;
	li {
		
	}
}

ol {
  list-style: decimal;
	li {
		
	}
}

ol, ul {
  padding-left: 0;
}


// *** definition lists ***
dl {
	dt {
		
	}
	dd {
		
	}
}