table {
	caption {
		
	}
	
	thead {
		tr {
			th {

			}
		}
	}
	
	tbody {
		tr {
			td {
				
			}
		}
	}
	
	tfoot {
		
	}
	
}

.table-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justift-content: space-between;
  align-items: stretch;
  align-content: space-between;
  .cell {
    flex-basis: calc(50% - 10px);
    position: relative;
    
    .proj-name {
      font-weight: 800;
      position: absolute;
      right: 20%;
      top:calc(50% - 2em);
      pointer-events: none;
      opacity: 0;
      transition: all 500ms ease-in-out;
    }
    
    &:hover {
      .proj-name {
        opacity: 100;
      }
    }
  }
  
  &.gallery {
    
    .cell {
      flex-basis: 100%; 
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
