extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'diptict';
    - var currentParent = 'photo';
    - var currentParentName = 'photography';
    - var projTitle = 'diptict';