extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'tub13';
    - var currentParent = 'book';
    - var currentParentName = 'book';
    - var projTitle = "The Union Book '13";
  
block beforeGallery
  p 
  | The 2013 edition of the unionbook featured interviews with Professor Andrew Morris, Dawn Chiormitro from Dining Services, Bill Nye the Science Guy, Professor Kimmo Rosenthal, and Dean Williams; the photo essays 
  em 'College Park Hall', 'Ceci N'est Pas Union', and '7 Traditions'
  