footer
  p
    a(href='index.html')
      img#Insert_logo2(src='img/logo.gif', alt='Insert Logo Here', name='Insert_logo', width='63', height='55', style='display:block;')
      |  [  &copy; adam m pere 2015  ]