h4
  a(href='index.html')
    img#Insert_logo(src='img/logo.gif', alt='Insert Logo Here', name='Insert_logo', width='126', height='110', style='display:block; border-top-width: medium;')
  | Adam M. Pere