nav.sidebar1
  ul
    li
      a(href='index.html') AdamPere.com
    li
      a(href='about.html') about
    li
      a(href='contact.html') contact
    li
      ul
        li
          a(href='#')
            a(href='photo.html') photography
        li
          a(href='digi.html') digital art
        li
          a(href='phys.html') physical computing
        li
          a(href='model.html') 3d modelling
        li
          a(href='graphic.html') graphic design
        li
          a(href='book.html') book
        li
          a(href='video.html') video
