extends _layout.jade
block page-specific-scripts
  link(rel='stylesheet', type='text/css', href= '/assets/lib/fancybox/jquery.fancybox.css?v=2.1.5', media='screen')
  link(rel='stylesheet', type='text/css', href= '/assets/lib/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5')
  link(rel='stylesheet', type='text/css', href= '/assets/lib/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7')
  
  script(type='text/javascript', src='/assets/lib/jquery-1.10.1.min.js')
  script(type='text/javascript', src='/assets/lib/jquery.mousewheel-3.0.6.pack.js')
  script(type='text/javascript', src='/assets/lib/fancybox/jquery.fancybox.js?v=2.1.5')
  script(type='text/javascript', src='/assets/lib/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5')
  script(type='text/javascript', src='/assets/lib/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7')
  script(type='text/javascript', src='/assets/lib/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6')
  script(type='text/javascript', src='/assets/js/gallery.js')

block content
  block currentProject
    - var currentProject = 'vacant';
    - var currentParent = 'photo'
    - var currentParentName = 'photography';
    - var projTitle = currentProject;
  h1
    a(href='/' + currentParent + '/') 
      = currentParentName
      = ' <' 
    = ' ' + projTitle
  section
    block beforeGallery
  section.table-wrapper.gallery
    each item in projImgs[currentProject]
      a.cell.fancy(href=full + currentProject+ '/' + item.img, rel='gallery')
        img(src=thumb + currentProject + '/' + item.img)
  section
    block afterGallery