extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'due';
    - var currentParent = 'video';
    - var currentParentName = 'video';
    - var projTitle = 'due diligence'
  block beforeGallery
    <iframe src="https://player.vimeo.com/video/65781295?loop=1&autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>