extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'proxemics';
    - var currentParent = 'projection';
    - var currentParentName = 'projection';  
    - var projTitle = 'proxemics'

block beforeGallery
  <iframe src="https://player.vimeo.com/video/164828704?loop=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <iframe src="https://player.vimeo.com/video/164828842?loop=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  p
  p
    em adam m pere & enol vallina
  p 
    | Harvard GSD | Responsive Environments: Bergamo eMotion | spring 2016
    br
    | Instructors: Allen Saygeh & Stefano Andreani
    br
    br
  p <em>Proxemics</em>&mdash;"the study of the spatial requirements of humans and the effects of population density on behavior, communication, and social interaction" (Proxemics 2016)
  p 
  p Public Transportation is unusual in the fact that we willingly accept the encroachment of our personal space by complete strangers; and we willingly encroach on the space of others. In any other situation this might be the cause for an awkward confrontation. But because, as a society, we’re familiar with the rules of public transportation, we repress our feelings of anger and discomfort. This repression of our instinctual emotions often leads to an intense sense of anxiety.
  p People cope with this anxiety in a number of ways. For instance, one might ride subway with headphones blasting music and their eyes glued to their phone, while another might try to make himself more comfortable by sparking up a conversation with his neighbor. It seems that most  make (an often subconscious) choice between separation (ignoring those around you) and fusion (interacting with those around you).  What most don’t realize is that their actions, the actions of one out of many in the confined space, affects the rest of the space both directly and indirectly. For instance, if a bus passenger is speaking loudly on his, the other passengers are forced to passively take part in his private conversation.
  p <em>Proxemics: Augmenting Our Interactions on Public Transportation<em> is an attempt to alter one's perception of personal space by redesigning the interior of the bus and augmenting the experience with an interactive light installation throughout the floor and the ceiling.
  p
    br
    a(href="http://adampere.com/assets/files/pere_vallina-proxemics.pdf") documentation pdf