extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'current';
    - var currentParent = 'phys';
    - var currentParentName = 'physical computing';
    - var projTitle = 'about current';
    
block beforeGallery
  <iframe src="https://player.vimeo.com/video/24790737?loop=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  p About Current - a non-living breathing sculpture. 
  br
  a(href = "http://blumtur.tumblr.com/") See the project blog for more information on the process behind this project.</a>