extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'tub';
    - var currentParent = 'book';
    - var currentParentName = 'book';
    - var projTitle = "The Union Book '12";
  
block beforeGallery
  p 
  | THE UNION BOOK is one of Union College's oldest living publications founded in 1854. It has been published annually, with the exception of 1892 and 1946. Throughout its existence, THE UNION BOOK has been published under the names of 
  em Unionian, The Union Annual, The Union Resume, Union Chow Chow, The Centennial, 
  |  and 
  em The Garnet.
  
  p The Union Book's image has transcended from that of a traditional yearbook to something much more. The Union Book showcases photography and art giving the reader a visual glimpse of what it was like to be at Union during that year, while essays and interviews of lecturers, faculty, staff, and students share an in depth and personal Union experience.
  
   p
    a(href="https://www.youtube.com/watch?v=qhc6M2iR9qs" target="_blank")
      | Documentary on the history of The Union Book by Clara Boesch
      img.pdf(src='/assets/img/icons/pdf.gif', alt='pdf')
  
  p The 2012 edition of The Union Book featured interviews with President Ainlay, Michael Lewis, Journalist Bob Woodward, Professor David Ogawa, Professor Valerie Barr, and The LID Council; Essays by Mark Boylan, Professor Anastasia Pease, a self study of Union College from 1980, Dean Stephen Leavitt, Nick D'Angelo, Comedian Ben Schwartz, Professor Robert Wells, Mital Patel, Sara Campbell, Professor Hans-Friedrich Mueller (Molinarius), and Erica Fugger. 
 
  p 
    a(href="/assets/files/pere_tub_samples.pdf" target="_blank")
      | The Union Book Preview
      img.pdf(src='/assets/img/icons/pdf.gif', alt='pdf')