extend ../templates/_layout.jade
block content
  h1 Contact
  section
    ul
      a(href='mailto:adampere001@gmail.com')
        li adampere001 (at) gmail.com
      a(href='http://www.linkedin.com/in/adampere', target='_blank')
        li linkedin
      a(href='https://www.facebook.com/adam.m.pere', target='_blank')
        li facebook


