@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input[type='radio'] + label, a {
  -webkit-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out; }

.clear {
  width: 100%;
  clear: both; }

.pdf {
  height: 1em;
  display: inline-block;
  margin-left: .5em; }

img {
  max-width: 100%;
  max-height: 100vh; }

input[type='radio'] {
  display: none; }
  input[type='radio'] + label {
    padding: 0.2em 1em;
    background-color: #e2e0e0;
    color: #000000;
    cursor: pointer;
    border-radius: 2px;
    white-space: nowrap; }
    input[type='radio'] + label:hover, input[type='radio'] + label:active {
      background-color: #989191;
      color: #fdfdfd; }
  input[type='radio']:checked + label {
    background-color: #4a4646;
    color: #fdfdfd; }

html, body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1.25em; }

svg {
  text-rendering: optimizeLegibility; }

h1, h2, h3 {
  font-weight: 800; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em; }

h1 {
  font-size: 2em;
  line-height: 1em; }

h2 {
  font-size: 1.7em;
  line-height: 1em; }

h3 {
  font-size: 1.35em;
  line-height: 1em; }

a {
  text-decoration: none;
  font-weight: normal;
  color: #000000; }
  a:hover, a:active, a:focus {
    color: #009EEB;
    text-decoration: line-through; }

b {
  font-weight: 800; }

code {
  font-family: monospace;
  padding: 0 .5em;
  background-color: rgba(128, 128, 128, 0.28); }

i {
  font-style: italic; }

em {
  font-style: italic; }

mark {
  background-color: rgba(245, 245, 142, 0.61); }

small {
  font-size: 0.6em; }

p {
  margin-bottom: 1em; }

blockquote, .quote {
  position: relative;
  margin: .5em;
  padding: .5em; }
  blockquote:after, .quote:after {
    content: "“";
    width: 1em;
    height: 1em;
    position: absolute;
    left: -.3em;
    top: .4em; }

pre {
  background-color: rgba(128, 128, 128, 0.28);
  padding: 1em 1.5em;
  width: auto;
  margin: 2em auto;
  overflow-x: scroll; }
  pre code {
    width: auto;
    display: block;
    background-color: transparent; }

body {
  background-image: url('/assets/img/bg/banan.jpg?1440627388');
  background-repeat: repeat;
  margin: 0;
  padding: 0; }

section {
  margin-bottom: 2em; }

aside {
  width: 100%;
  vertical-align: top;
  display: none; }

.container {
  width: 90%;
  max-width: 960px;
  background: #FFFFFF;
  position: relative;
  margin: 7vh auto;
  padding-top: 0.5em;
  min-height: calc(86vh - 110px);
  padding-bottom: 110px; }

aside, .content {
  padding-top: 0em; }

.content {
  padding: 0;
  width: 100%; }

h1, h2, h3, h4, h5, h6, p, section {
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px; }
  h1 h1, h1 h2, h1 h3, h1 h4, h1 h5, h1 h6, h1 p, h2 h1, h2 h2, h2 h3, h2 h4, h2 h5, h2 h6, h2 p, h3 h1, h3 h2, h3 h3, h3 h4, h3 h5, h3 h6, h3 p, h4 h1, h4 h2, h4 h3, h4 h4, h4 h5, h4 h6, h4 p, h5 h1, h5 h2, h5 h3, h5 h4, h5 h5, h5 h6, h5 p, h6 h1, h6 h2, h6 h3, h6 h4, h6 h5, h6 h6, h6 p, p h1, p h2, p h3, p h4, p h5, p h6, p p, section h1, section h2, section h3, section h4, section h5, section h6, section p {
    padding-left: 0;
    padding-right: 0; }

li {
  margin-bottom: .65em; }

ul {
  margin-top: 0; }

ol {
  list-style: decimal; }

ol, ul {
  padding-left: 0; }

.table-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  justift-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; }
  .table-wrapper .cell {
    -webkit-flex-basis: 143px;
        -ms-flex-preferred-size: 143px;
            flex-basis: 143px; }

header {
  width: calc(100vw - 4em);
  padding: 1em 2em;
  background-color: #e2e0e0; }
  header span {
    margin-bottom: 6px; }

nav {
  display: block;
  width: 100%;
  margin-bottom: 2em; }
  nav ul {
    margin: 0;
    margin-bottom: 0.5em; }
    nav ul li {
      display: inline-block;
      width: auto;
      margin-bottom: 0; }
      nav ul li a, nav ul li a:visited {
        padding: 0px 5px 5px 15px;
        display: block;
        width: 100%;
        text-decoration: none; }

footer {
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  footer img {
    width: 50px;
    display: block;
    margin-bottom: 5px; }

@media only screen and (min-width: 800px) {
  aside {
    float: right;
    width: 160px;
    display: block; }

  .container {
    width: 90vw;
    clear: both; }

  .content {
    padding: 0;
    width: calc(100% - 160px - 160px - 50px);
    float: left; }

  pre {
    padding: 2em 3em;
    width: 80%;
    margin: 2em auto;
    overflow-x: scroll; }
    pre code {
      width: auto;
      display: block;
      background-color: transparent; }

  nav {
    display: inline-block;
    width: 160px;
    float: left;
    background: #FFFFFF; }
    nav ul {
      margin: 0.5em 0;
      margin-top: 0; }
      nav ul li {
        width: 160px; }
        nav ul li:first-child a, nav ul li:first-child a:visited {
          padding-top: 0; }
        nav ul li a, nav ul li a:visited {
          padding: 5px 5px 5px 15px;
          display: block;
          width: 100%;
          text-decoration: none; } }
