extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'auto';
    - var currentParent = 'phys';
    - var currentParentName = 'physical computing';
    - var projTitle = 'PUnconscious Automaton';

block beforeGallery
  <iframe src="https://player.vimeo.com/video/70150042?loop=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  p
  p The Internet is a relatively new phenomenon that has molded the modern world around its existence. I seldomly find myself in a room without access to the Internet or social media. My generation spends and extensive amount of time thoughtlessly surfing the Internet and Facebook without any clear objective or intent. It's time to start a conversation on the Internet and to question how it is effecting the quality of our lives.
  p The installation consisted of three robots, a computer, and a monitor. Each robot was interactive in the physical world through the use of an Arduino, sensors, motors, LCD screens and LEDs and the digital world through Facebook, where they were able to post photos of their surroundings, status updates or comments. I hoped that by watching my robots mindlessly performing the same tasks that we do everyday, viewers would begin to question their habitual use of the Internet. 
  p 
    <a href="Automatons/poster.pdf" target="_blank">Informational Poster<img src="../../assets/img/icons/pdf.gif" width="25" height="23"></a><br><a href="Automatons/pere_final_paper.pdf" target="_blank">Unconscious Automatons on Facebook - Final Paper<img src="../../assets/img/icons/pdf.gif" width="25" height="23"></a><br><a href="http://pereproject.tumblr.com/" target="_blank">Tumblr detailing the processes of this project</a><a href="http://pereproject.tumblr.com/" target="_blank"><img src="../../assets/img/icons/pdf.gif" alt="" width="25" height="23"></a>
  br
