extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'glitch';
    - var currentParent = '3d';
    - var currentParentName = '3d modeling';
    - var projTitle = 'glitch';
    
block beforeGallery
  <iframe src="https://player.vimeo.com/video/205809498"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  p
  p 
    | Harvard GSD | Immersive Landscapes | fall 2016
    br
    | Instructor: Eric de Broche des Combes
    br
    br
  p a difficult to play, difficult to watch, difficult win maze
  p enter the maze. teleport through the maze. your perception of the environment deteriorates and glitches.
  p try to escape.
  p <br>
  p -custom sonic compositions
  p -environment 3d models captured as kinect body scans and molded in cinema4d
  p -custom glitchy shader progresses & worsens as the player navigates the maze
  p <br>
  p 
    a(href="mailto:adampere001@gmail.com") contact me 
    | if you'd like to play
  p not suitable for anyone prone to strobe-induced seizures
  p <br>