extend ../templates/_layout.jade
block content
  h1 About
  section
    p
      a.icon(href='/assets/files/pere_resume.pdf', target='_blank')
        | Resumé
        img.pdf(src='/assets/img/icons/pdf.gif', alt='pdf')
      br
      a(href='/assets/files/portfolio_whole.pdf', target='_blank')
        | Print Portfolio
        img.pdf(src='/assets/img/icons/pdf.gif', alt='pdf')
      br
      a(href='/assets/files/pere_photo.pdf', target='_blank')
        | Sample Photography
        img.pdf(src='/assets/img/icons/pdf.gif', alt='pdf')
    h3 Links
    p.ff
      a(href='http://www.linkedin.com/in/adampere', target='_blank') linkedin
    p.ff
      a(href='https://www.facebook.com/adam.m.pere', target='_blank') facebook
    p
      a(href='https://vimeo.com/adampere', target='_blank') vimeo
    p
      | tumblrs:
      br
      ul(style='list-style: none;')
        li
          a(href='http://pharmanimals.tumblr.com/', target='_blank') digital art/photography
        li
          a(href='http://blumtur.tumblr.com/', target='_blank') physical computing
        li
          a(href='http://pereproject.tumblr.com/', target='_blank') Undergraduate Thesis - physical computing
        li
          a(href='http://3dcomputermodeling.tumblr.com/', target='_blank') 3d modelling
        li
          a(href='http://rrtadam.tumblr.com/', target='_blank') video & sound
        li
          a(href='http://pflog.tumblr.com/', target='_blank') prague/european travels
    p in the news (college news):
    ul(style='list-style: none;')
      li
        a(href='http://www.concordy.com/article/news/march-14-2013/bill-nye-the-science-guy-visits-union/6232/', target='_blank') Bill Nye "The Science Guy" visits Union
      li
        a(href='http://www.concordy.com/article/news/may-17-2012/planning-an-historical-reunion/4841/', target='_blank') Planning an historical reunion
      li
        a(href='http://www.concordy.com/article/news/january-19-2012/yearbook-gets-a-makeover-from-fugger-and-pere/3479/', target='_blank') Yearbook gets a makeover from Fugger and Pere
      li
        a(href='http://www.concordy.com/article/opinions/october-6-2011/say-hello-to-smu-the-student-media-union/2743/', target='_blank') Say hello to SMU, the Student Media Union
      li
        a(href='http://www.concordy.com/article/news/may-26-2011/garnet-yearbook-revived/2024/', target='_blank') Garnet Yearbook revived
      li
        a(href='http://www.concordy.com/article/news/october-7-2010/tracking-trolleys-the-union-trolley-system-enters-the-digital-age-with-new-gps-technology/174/', target='_blank')
          | Tracking Trolleys: The Union trolley system enters the digital age with new GPS technology
    h3  
    h3 Education
    p
      strong Union College
      em
        |   Schenectady, NY 
        br
      | B.S. 
      strong Computer Science
      |  & 
      strong Visual Arts
      |  w/ Honors, 
      em June 2013
      br
      |       Member of Sigma Xi and Omicron Delta Kappa honor societies
    p
      strong Czech Technical University
      em   Prague, CZ, Fall 2011
    p  
    h3 Experience
    p
      strong
        | The Union Book, 
        em
          | Editor-in-Chief
          br
      |  Union College, Schenectady, NY
      em
        br
        | April 2011 - June 2013
        br
        br
      | As Editor-in-Chief of The Union Book, formerly known as The Garnet  Yearbook, I was responsible for all aspects of the publication including  but not limited to: delegating responsibilities to our staff of 10+  members, keeping all staff aware of deadlines, proof editing, layout  design, photography, photo editing and more. All pages first went through me before being sent to the  publisher.
    p
      strong
        | Computer Science Help Desk, 
        em
          | Director & Tutor
      br
      |  Computer Science Dept., Union College, Schenectady, NY 
      br
      em
        | September 2010 - June 2013
        br
        br
      | As the student director of the Computer Science Help Desk it was my responsibility to contact professors to ensure that all of the tutors were proficient in the programming languages and concepts being taught in class and to keep the tutors aware of the current assignments; to help computer science students on their homework, lab assignments, and projects.
    p
      strong
        | IBM,
        em  Intern
      br
      |               Poughkeepsie, NY 
      br
      em
        | June 2012 - March 2013
        br
        br
      | As an intern with IBM I produced, maintained and fixed Lotus Notes Databases using Lotusscript & Lotus Formula. I also constructed and repaired internal tools and websites using VB6, HTML, CSS & JavaScript.
    p
      strong
        | Union College,
        em  Research Student
        br
      | Union College, Schenectady, NY
      br
      em
        | June 2011 - August 2011 
        br
        br
      | Over the summer of 2011 I worked with astronomy professor John Marr to write 4 Java programs for students to use in Radio Astronomy Lab classes at Union College and other universities. The program 
      em Tool for Interactive Fourier Transfor (TIFT) 
      | is to be used as a teaching aid in classrooms to illustrate the Fourier Transform, a mathematical operation that is used in both physics and engineering. The programs 
      em the Small Radio Telescope (SRT) Plotter
      |  and 
      em the Very Small Radio Telescope Interferometer (VSRTI) Plotter
      |  allows students to plot and analyze data from two different radio telescopes. 
      br
      a(href='/assets/files/pere_summer_esearch.pdf', target='_blank')
        | Click here for more information
        img.pdf(src='/assets/img/icons/pdf.gif', alt='pdf')