extend ../templates/_layout.jade
block content
  section
    h1 About
    ul
      li
        a(href='/assets/files/portfolio_whole.pdf', target='_blank')
          | [ old print portfolio 
          img.pdf(src='/assets/img/icons/pdf.gif', alt='pdf')
          |  ]
      li
        a(href='/assets/files/pere_photo.pdf', target='_blank')
          | [ photography samples 
          img.pdf(src='/assets/img/icons/pdf.gif', alt='pdf')
          |  ]
  section
    h3 Links
    ul
      li.ff
        a(href='http://www.linkedin.com/in/adampere', target='_blank') [ linkedin ]
      li.ff
        a(href='https://www.facebook.com/adam.m.pere', target='_blank') [ facebook ]
      li
        a(href='https://vimeo.com/adampere', target='_blank') [ vimeo ]
      li
        a(href='https://www.instagram.com/ap_ap_ap/', target='_blank') [ instagram ]
  section
    h3 Education
    .edu-item
      .edu-degree Master in Design Studies, Technology 
      .edu-date candidate 2017
      .edu-school Harvard University Graduate School of Design
    .edu-item
      .edu-degree B.S. Computer Science & Visual Arts w/ honors
      .edu-date 6.2013
      .edu-school Union College
      .edu-groups Member of Sigma Xi and Omicron Delta Kappa honor societies
    .edu-item
      .edu-date   Prague, CZ  fall.11
      .edu-school Czech Technical University
  section  
    h3 Experience
    .experience-item
      .exp-title
        | Harvard University, Office for Urbanization
      .exp-position
        |  Research Assistant
      .exp-date
        | 9.16 &#8212; present
    .experience-item
      .exp-title
        | Harvard University, VIS-2481 Public Projections w/ Krzysztof Wodiczko
      .exp-position
        |  Teaching Assistant
      .exp-date
        | 9.16 &#8212; 12.16
      .exp-desc
        | As Krzysztof Wodiczko's teaching assistant, I taught workshops on projection mapping techniques, helped student conceptualize and technically realize projects, kept track of projection equipment, etc.
    .experience-item
      .exp-title
        | Tellart
      .exp-position
        |  Creative Technologist
      .exp-date
        | 6.16 &#8212; 8.16
      .exp-desc
        | As a creative technologist at Tellart, I worked on the team tasked with building the electronic components to Toyota's Concept-i prototype revealed at CES 2017. The project is the result of a 1.5-year collaboration with Toyota Research Institute, Calty, ICI and Tellart, working to imagine a future where vehicles form a true partnership with drivers and use AI to anticipate people’s needs, inspire their imaginations, and improve their lives. My role in the team included designing the software system to coordinate visual effects inside the vehicle, testing materials and equipment, soldering components, etc. 
    .experience-item
      .exp-title
        | Involution Studios
      .exp-position
        |  Software Designer & Front-End Engineer
      .exp-date
        | 9.14 &#8212; 8.15
      .exp-desc At Invo, I had the pleasure of working for a small studio of software designers and engineers. We worked together to design, prototype, and program enterprise level software using the Adobe Suite and web programming. The projects that I worked on varied from high fidelity prototypes or the front-end of an applicaiton written in HTML, CSS, and various JavaScript Libraries, to mentoring interns on personal and company-wide projects such as interactive installations, ceiling murals, & rapidly prototyping software.
    .experience-item
      .exp-title Involution Studios
      .exp-position Software Designer & Front-End Engineer Apprentice
      .exp-date 12.13 &#8212; 9.14
      .exp-desc As an apprentice I designed and engineered digital and physical prototypes using Arduino, HTML, SCSS, JavaScript and various JavaScript libraries.
    .experience-item
      .exp-title The Union Book, Union College
      .exp-position  Editor-in-Chief
      .exp-date  4.11 &#8212; 6.13
      .exp-desc As Editor-in-Chief of The Union Book, formerly known as The Garnet  Yearbook, I was responsible for all aspects of the publication including  but not limited to: delegating responsibilities to our staff of 10+  members, keeping all staff aware of deadlines, proof editing, layout  design, photography, photo editing and more. All pages first went through me before being sent to the  publisher.
    .experience-item
      .exp-title IBM
      .exp-position Intern
      .exp-date  6.12 &#8212; 3.13
      .exp-desc As an intern with IBM I produced, maintained and fixed Lotus Notes Databases using Lotusscript & Lotus Formula. I also constructed and repaired internal tools and websites using VB6, HTML, CSS & JavaScript.
    .experience-item
      .exp-title Union College
      .exp-position  Research Student
      .exp-date 6.11 &#8212; 8.11 
      .exp-desc 
        | Over the summer of 2011 I worked with astronomy professor John Marr to write four Java programs for students to use in Radio Astronomy Lab classes at Union College and other universities. The program 
        strong
          | Tool for Interactive Fourier Transfor (TIFT)
        | is an application used as a teaching aid in classrooms to illustrate the Fourier Transform, a mathematical operation that is used in both physics and engineering. The programs 
        strong
          | the Small Radio Telescope (SRT) Plotter
        |  and 
        strong
          | the Very Small Radio Telescope Interferometer (VSRTI) Plotter
        |  allows students to plot and analyze data from two different radio telescopes. 
      .exp-extra
        a(href='/assets/files/pere_summer_research.pdf', target='_blank')
          | [ more info 
          img.pdf(src='/assets/img/icons/pdf.gif', alt='pdf')
          |  ]