extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'breathe-easy';
    - var currentParent = 'projection';
    - var currentParentName = 'projection'; 
    - var projTitle = 'breathe easy'

block beforeGallery
  <iframe src="https://player.vimeo.com/video/205832758?loop=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  p
  p 
    | Harvard GSD | Interdisciplinary Art Practices | fall 2016
    br
    | Instructor: Silvia Benedito
    br
    br
  p A panic attack begins with the experience of dyspnea | difficulty breathing | shortness of breath | the feeling of suffocation. These short frequent breaths, originating from the chest, create a lack of carbon dioxide in the blood stream. To compensate, the heart begins to beat faster and faster. The sensation of suffocation coupled with the pounding of the heart and the anxiety that sparked the attack can cripple even the strongest of minds. The key to conquering the panic attack lies with the initial symptom-the breath. By focusing on the breath and taking slow deep belly inhalations & exhalations, the mind is given a chance to calm allowing the symptoms of the panic attack to dissipate. 
  p Breath&mdash;it is both a barometer and a tool for controlling one’s mental well-being.
  p <em>Breathe Easy</em> is a sculpture;<br>a projection;<br>a sonic composition.
  p <em>Breathe Easy</em> is made to resemble a brown paper bag worn through a process of hyperventilation. The back features a video of my chest in various states of breath during a panic attack projected onto a screen fashioned out of a plastic bag. The opening on the front of the sculpture, the opening one would normally place to one’s mouth and breathe into, is large enough to encompass the viewer’s head-creating an immersive anxiety driven experience.
  p  
    br
    a(href="http://adampere.com/assets/files/breathe-easy-pere.pdf") documentation pdf