extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'bathroom';
    - var currentParent = '3d';
    - var currentParentName = '3d modeling';
    - var projTitle = 'bathroom';