extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'kinetic-speaker';
    - var currentParent = 'phys';
    - var currentParentName = 'phys'; 
    - var projTitle = 'kinetic speaker'

block beforeGallery
  <iframe src="https://player.vimeo.com/video/206152975?loop=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  p
  p 
    | MIT ACT | Kinetic Sound Creations | spring 2016
    br
    | Instructor: Jan St. Werner
    br
    br
  p
    a(href="https://vimeo.com/160817401") early alternate design