// All colors are defined here

$header-background-color: #e2e0e0;
$main-background-color: #FFFFFF;
$footer-background-color: $header-background-color;

$base-text-color: #000000;
$inverse-text-color: #fdfdfd;
$link-color: #42413C;
$link-hover-color: #6E6C64;

$nav-hover-color: #009EEB;


