extend ../../templates/_proj-gallery.jade
block currentProject
    - var currentProject = 'mask';
    - var currentParent = 'projection';
    - var currentParentName = 'projection';
    - var projTitle = 'pneuma screen';
block beforeGallery
  <iframe src="https://player.vimeo.com/video/150264257?loop=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  p
  p 
     em adam m pere & catty dan zhang
  p 
    | Harvard GSD | Public Projections | fall 2015
    br
    | Instructor: Krzysztof Wodiczko
    br
    br
  p 
    strong Pneuma 
    span - the ancient Greek word for “breath”, is a mixture of the elements air (in motion) and fire (as warmth). Its highest form - in Stoic philosophy- constitutes the human soul (psychê), and organizes both the individual and the cosmos.
  p Pneuma Screen is a wearable device which translates the body's physiological changes into a tangible medium. Through projections on the mask, the body, and the space, Pnuema Screen exaggerates the silent dialogue between human life and the built environment.
  p Beyond the traditional understanding in art history and media archaeology, where a screen serves as either a physical filter that defines the boundary of the inside and the outside, or as a surface holding digital moving images, Pneuma Screen is a responsive instrument that visualizes flow patterns from a projector above one’s head onto a translucent veil in front of one’s mouth and the surrounding surfaces, blending light, pulse and breath with the human form and space.
  p One wears the screen while ascending and descending steps creating an improvised performance of one's pulse and breath reacting to the effort expelled from vertical movement. These silent biological signals - being sensed, visualized, and projected- become as loud, if not louder, than verbal communication forcing us to take notice of the often ignored sensations and the muted impact that the environment has on our bodies.
  p <br>
  p 
    em In 2016 Pneuma Screen 
    | was presented at the Associate of Collegiate School of Architecture conference 
    em Crossing Americas: Probing Disglobal Networks 
    | in Santiago, Chile
    